<% if @meeting.active_voting.nil? %>
<div class="p-2"><%= _('No voting in progress.') %></div>
<% else %>
<div class="text-warning p-2"><%= _('Voting in progress.') %></div>
<%= flash[:error] %>

<div class="card p-2"><%= sanitize @meeting.active_voting.text %></div>
<% @ballot = @meeting.active_voting.ballots.where(participant_id: @participant.id).first -%>
<% if @ballot.present? -%>
    <% if @ballot.submitted == true %>
        <%= _('You have already voted. Please waith for voting to end.') %>
    <% else %>
        <h4 class="mt-2"><%= _('VotingOptions') %></h4>
        <div class="card p-2">
            <%= form_with url: submit_vote_path() do |f| %>
            <input type="hidden" name="vote[option_ids][]" value="">
            <div class="voting-options">
            <%= render partial: 'voting_options', collection: @meeting.active_voting.voting_options %>
            </div>
            <%= submit_tag _('Submit vote'), class: "mt-2" %>
            <% end %>
        </div>
    <% end %>
<% else %>
<%= _('You are not allowed to vote in this voting.') %>
<% end %>
<% end %>
