<li class="list-group-item p-0 mb-2">
    <div class="card-header">
        <div class="caret d-flex justify-content-between" data-target="#participant-<%= participant.id %>" data-toggle="collapse" aria-expanded="false" role="button" title="<%= _('Click to expand/collapse') %>">
            <div class="mr-auto pr-2"><%= sanitize participant.name %></div>
            <% if participant.time_of_leaving.present? %>
            <div class="mr-2"><%= _('Left the meeting at %{time}') % { time: participant.time_of_leaving } %></div>
            <% else %>
            <% if not participant.permitted? %>
            <div class="mr-4" title="<%= _('Joining code') -%>" data-toggle="tooltip"><%= fa_icon('sign-in-alt') -%> <%= sanitize participant.token %></div>
            <% else %>
            <div class="mr-4" title="<%= _('Rejoining code') -%>" data-toggle="tooltip"><%= fa_icon('redo-alt') -%> <%= sanitize participant.rejoin_code %></div>
            <% end %>
            <div class="mr-4">
            <%= form_tag update_participant_path(participant.id), remote: true, method: :patch, authenticity_token: true do %>
            <%= _('Votes') %>
            <%= number_field_tag 'participant[num_votes]', participant.num_votes, min: 1, max: 999 %>
            <%= submit_tag _('save') %>
            <% end %>
            </div>
            <% end %>
            <div class="actions">
            <% unless participant.permitted? %>
            <%= link_to fa_icon('play'), permit_participant_path(participant.id) %>
            <% end %>
            <% if participant.ballots.blank? %>
            <%= link_to fa_icon('trash-alt'), destroy_participant_path(participant.id), remote: true, data: { method: :delete, confirm: _('Are you sure you want to remove the participant?')} %>
            <% else %>
            <%= fa_icon('trash-alt', title: _('You can only delete participants that have not cast any votes.'), class: 'text-secondary', data: { toggle: 'tooltip' }) %>
            <% end %>
            </div>
        </div>
    </div>
    <div class="card-body collapse" id="participant-<%= participant.id -%>">
        <div>
        <h4><%= _('Cast ballots') %></h4>
            <% participant.ballots.each do |b| %>
            <div><%= b.voting.text %></div>
            <% end %>
        </div>
    </div>
</li>