<li class="list-group-item p-0">
    <div class="card-header">
        <div class="caret d-flex justify-content-between" data-target="#voting-<%= voting.id %>" data-toggle="collapse" aria-expanded="false" role="button" title="<%= _('Click to expand/collapse') %>">
            <div class="mr-auto"><%= sanitize voting.text %></div>
            <div><%= voting.votes.count %> / <%= @meeting.participants.permitted.count -%></div>
            <div class="actions">
            <%= link_to fa_icon('edit'), edit_voting_path(voting.id) %>
            <% if @meeting.active_voting == voting %>
            <%= link_to fa_icon('stop'), stop_voting_path() %>
            <% else %>
            <%= link_to fa_icon('play'), start_voting_path(voting.id) %>
            <% end %>
            <%= link_to fa_icon('trash'), destroy_voting_path(voting.id) %>
            </div>
        </div>
    </div>
    <div class="card-body collapse" id="voting-<%= voting.id -%>">
        <div>
            <div><%= _('Voting|Anonymous') %></div>
            <div><%= voting.anonymous? ? _('Yes') : _('No') %></div>
        </div>
        <div>
            <div><%= _('Voting|Voting type') %></div>
            <div><%= voting.voting_type %></div>
        </div>
        <%= render partial: 'voting_option', collection: voting.voting_options %>
        <%= render partial: 'voting_option', collection: voting.voting_options %>
    </div>
</li>