<h1><%= _('Create a new meeting') %></h1>
<%= semantic_form_for(@meeting, url: create_meeting_path(), authenticity_token: true) do |f| %>
	<%= render partial: 'layouts/form_guide' %>
	<%= f.semantic_errors :meeting %>
	<%= f.input :name %>
	<%= f.submit _('Save') %>
<% end %>

<hr>
<h1><%= _('Manage a meeting') %></h1>
<%= form_with url: admin_login_path(), authenticity_token: true do |f| %>
	<%= render partial: 'layouts/form_guide' %>
	<%= f.text_field :meeting_password %>
	<%= f.submit _('Login') %>
<% end %>
