<h1><%= _('Submitted votes') %></h1>

<table class="table">
<thead>
<th><%= _('Votes') %></th>
<th><%= _('Number of votes') %></th>
<th><%= _('Options') %></th>
</thead>
<tbody>
<%= render partial: 'vote', collection: @voting.votes %>
</tbody>
</table>

<% missing = @voting.ballots.select { |b| b.submitted? == false } -%>
<% if missing.present? %>
<h2><%= _('Missing ballots') %></h2>
<ul>
<% missing.select .each do |b| %>
<li><%= b.participant.name %></li>
<% end %>
</ul>
<% end %>
<%= link_to _('Back to meeting'), manage_meeting_path() %>
